@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer components {
  a {
    @apply no-underline;
  }

  /* SCROLLBAR - style for firefox */
  * {
    scrollbar-color: #26a9e0 #29292e; /* scroll thumb and track color */
  }

  /* SCROLLBAR - style for chrome */
  ::-webkit-scrollbar {
    @apply h-1 w-1 rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-track {
    @apply bg-d-500;
  }

}
